include LICENSE
include README.rst

recursive-include tests *
recursive-include data *
# recursive-include tests/parkfield/config/ *.json
recursive-include aurora/config/emtf_band_setup/ *.cfg
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
